<!-- <div [ngStyle]="{'background-color':todo?.status?'green':'white'}" class="todo-container"> -->
    <div class="todo-container" [appMarkCompleted]="todo?.status">
    <p>Title : {{todo?.title}}</p>
    <p>Description : {{todo?.description}}</p>
    <p>Status : {{todo?.status?'Completed':'Pending'}}</p>
    <div>
        <button class="btn btn-dark" (click)="markAsCompleted()" [disabled]="todo?.status">Mark as Completed</button>
       <button class="btn btn-danger" (click)="deleteTodo(todo?.title)">Remove</button>
    </div>
</div>
