<div class="row">
    <div class="col-4">
        <input class="form-control" placeholder="Input a Title" type="text" name="title" id="title" #inpTitle>
    </div>
    <div class="col-4">
        <input class="form-control" placeholder="Input Description" type="text" name="description" id="description" #inpDescription>
    </div>
    <div class="col-4">
        <button class="btn btn-success" (click)="addTodo({title:inpTitle.value,description:inpDescription.value,status:false})">Add Todo</button>
    </div>
    <!-- <p class="text-dark">Searching for Title : <strong>{{title}}</strong> </p> -->
</div>


